# CSS will control style of the page
# controls colors, fonts, spacing, layout, animations, and responsiveness. 
body {
  background-color: #1a0033;
  color: #ff66cc;
  font-family: 'Orbitron', sans-serif;
}
